<div class="slideshow-container">
  <div class="mySlides fade">
    <img class="slideshow-img" src="assets/images/img1.jpg" style="width:100%">
    <div class="text">נגישות</div>
  </div>

  <div class="mySlides fade">
    <img class=slideshow-img" src="assets/images/img2.jpg" style="width:100%">
    <div class="text">מקווה</div>
  </div>

  <div class="mySlides fade">
    <img class="slideshow-img" src="assets/images/img3.jpg" style="width:100%">
    <div class="text">מבנים ציבוריים</div>
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<!-- <br> -->
<div style="text-align:center">
  <span class="dot" (click)="currentSlide(1)"></span>
  <span class="dot" (click)="currentSlide(2)"></span>
  <span class="dot" (click)="currentSlide(3)"></span>
</div>

<div class="gallery-container">
  <div class="box negishut-box">
    <img src="/../feder-site/src/assets/images/img1.jpg">
  </div>
  <div class="box sport-box">
    <img src="/../feder-site/src/assets/images/img2.jpg">
  </div>
  <div class="box mikve-box">
    <img src="/../feder-site/src/assets/images/img3.jpg">
  </div>
  <div class="box school-box">
    <img src="/../feder-site/src/assets/images/img2.jpg">
  </div>
</div>

<br>

<div class="about-container">
  <div class="about-box shai-box">
    <img class="about-pic" src="assets/images/shai.jpg">
    <div class="about-text-box">
      <h3 class="about__title">שי פדר</h3>
      <p> אדריכל מנוסה בלהבלה.</p>
    </div>
  </div>
  <div class="about-box orna-box">
    <img class="about-pic" src="assets/images/orna.jpg">
    <div class="about-text-box">
      <h3 class="about__title">אורנה פדר</h3>
      <p> אדריכלית מנוסה בלהבלהבהל.</p>
    </div>
  </div>
</div>
<br>

